---
import LegalLayout from "../layouts/LegalLayout.astro";
---

<LegalLayout title="Terms of Use">
  {/* TODO: Replace with the finalized Terms of Use content. */}
  <p>
    This page is a placeholder. The full Terms of Use will be published here
    before launch.
  </p>
</LegalLayout>
